*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form__group {
  width: 80%;
}

body {
  height: 100vh;
  width: 100%;
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 100vh;
  color: #fff;
  flex-wrap: wrap;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  border-radius: 50px;
}

.forminput:placeholder-shown+.formlabel {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  margin-top: 50px;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent);
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

@keyframes alignItemsAnimation {
  from {
    transform: translateY(375px);
  }

  to {
    transform: translateY(0px);
  }
}


.myChart {
  display: none;
  max-width: 500px;
  min-height: 250px;
}

#diagrams {
  margin-top: 100px;
  max-height: 300px;
  justify-content: flex-start;
  margin-left: 5em;
  margin-right: 5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

#main {
  height: 100vh;
}